<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>People</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      {{#people}}
          <h1>Name</h1>
          {{name}}
          <h2>Friend Status</h2>
          {{status}}
      {{/people}}
  </body>
</html>
