<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Profile for {{name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Name</h1>
    <span>{{name}}</span>
    {{#address}}
    {{#email}}
    <h1>Email Address</h1>
    <span>{{email}}</span>
    {{/email}}
    <h1>Address</h1>
    <span>{{address}}</span>
    {{/address}}
  </body>
</html>
